* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #bbdbdb;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1400px;
  margin: 0 auto;
}
.hero {
  margin-top: 2rem;
}
main {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}
.list-title {
  font-size: 25px;
  font-weight: 700;
}
.hero-title {
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  color: #00153c;
  width: 40%;
  height: 35rem;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #6cd0d4, #5bafb2);
  box-shadow: 15px 15px 60px #c9dcdd, -15px -15px 60px #74dfe4;
}
button {
  width: 20rem;
  margin: 3rem auto;
  padding: 1.5rem;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(145deg, #5aced4, #6bbec3);
  box-shadow: 12px 12px 20px #59a3a7, -12px -12px 20px #85fefe;
  transition: transform 0.4s ease;
}
button:hover {
  transform: translateY(-0.33rem);
}
input {
  padding: 15px;
  margin-right: 1rem;
  border-radius: 5px;
  width: 85%;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
::placeholder {
  text-transform: none;
}
label {
  font-size: 30px;
  padding: 1rem 0;
}

#zero {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 5px;
}
#zero span {
  font-weight: 700;
  text-decoration: underline dotted;
}

ul {
  margin-top: 3rem;
  font-size: 20px;
  list-style: circle;
  columns: 3;
  gap: 8rem;
  -webkit-columns: 3;
  -moz-columns: 3;
}
@media only screen and (max-width: 576px) {
  .container {
    width: 500px;
  }
  main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  form {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
    height: 26rem;
    margin-top: 1rem;
  }
  input {
    width: 80%;
  }
  ul {
    columns: 3;
    font-size: 18px;
    gap: 2rem;
  }
  button {
    width: 140px;
  }
  #zero {
    align-items: center;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .container {
    width: 1200px;
  }
  form {
    padding: 0;
    width: 65%;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    gap: 3rem;
    font-size: 25px;
  }
  input {
    width: 70%;
    margin: 0 auto;
  }
  button {
    width: 20rem;
    font-size: 25px;
    margin: 2rem auto;
  }
  #zero {
    margin-top: 2rem;
    font-size: 25px;
  }
}
