
* {
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  padding: 0;
  margin: 0;
  font-family: "Crimson Text", serif;
}

button {

  background-color: rgb(233, 231, 227);
  border-radius: 15px;  
  width: 35rem;
  margin: 2rem auto;
  padding: 1rem;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.hero {
  margin-top: 2rem;
}
.hero-title {
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 54%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
}
input {
  padding: 15px;
  margin-right: 1rem;
  border-radius: 5px;
  width: 50rem;
  font-size: 1rem;
  font-weight: 500;
}
label {
  font-size: 30px;
  padding: 1rem 0;
}
#zero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  gap: 5px;
}
#zero span {
  font-weight: 700;
  text-decoration: underline dotted;
}

@media only screen and (max-width: 576px) {
    .container{
        width: 500px;
    }
    form{
        padding: 0;
        width: 80%;
    }
    input{
        width: 80%;
    }
    button{
        width: 100px;
    }
    #zero{
        margin-top: 2rem;
    }
}
@media (min-width: 768px) and (max-width: 1300px){
    .container{
        width: 1200px;
    }
    form{
        padding: 0;
        width: 80%;

    }
    input{
        width: 80%;
        margin: 0 auto;

    }
    button{
        width: 35rem;
        margin: 2rem auto;
        padding: 1rem;
    }
    #zero{
        margin-top: 2rem;
    }
}